{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "objectLiteralShorthandMethods": true
    }
  },
  "rules": {
    "indent": [2,2, { "SwitchCase": 1 }],
    "no-console": 0,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "no-use-before-define": [2, "nofunc"],
    "comma-dangle": 0,
    "newline-per-chained-call": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-underscore-dangle": 0,
    "max-len": [2, 150],
    "no-param-reassign": [2, { "props": false }]
  }
}
